<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--오디오 사용-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--네트워크 권한 추가-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeApp1"
        tools:targetApi="31">

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="EmoGraph : 감정의 파동을 그리다">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RecordActivity 설정 -->
        <activity
            android:name=".RecordActivity"
            android:exported="true"
            android:label="혼잣말 녹음" />

        <!-- WriteEmotionActivity 설정 -->
        <activity
            android:name=".WriteEmotionActivity"
            android:exported="true"
            android:label="감정 일기" />

        <!-- EmoGraphActivity 설정 -->
        <activity
            android:name=".EmoGraphActivity"
            android:exported="true"
            android:label="나의 EmoGraph" />

        <!-- AiMessageActivity 설정 -->
        <activity
            android:name=".AiMessageActivity"
            android:exported="true"
            android:label="응원 메시지" />

    </application>

</manifest>